/* TOPO DA PÁGINA */

.containerModel {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
}

.contentModel {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
  width: 100%;
  height: 100vh;
}

.contentModel h1 {
  z-index: 1;
  font-size: 40px;
  top: 10%;
  position: absolute;
  width: fit-content;
  z-index: 1;
  height: fit-content;
  color: "#323338";
  font-weight: bold;
}
.subtitleTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}
.contentImg {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImg img {
  width: 100%;
  height: 100vh;
  /* margin-bottom: 50px; */
  align-self: center;
  justify-self: center;
}

.detailsContainer {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  position: absolute;
  
}
.detailsContent {
  flex-direction: column;
  display: flex;
  margin-left: 100px;
  width: 100px;
}

.detailsContent:last-child {
  margin-left: 50px;
}
.detailsContent:first-child {
  margin-left: 0px;
}

.navLinkStyle {
  width: 250px;
  height: 50px;
  background-color: transparent;
}

.modelButton {
  height: 50px;
  width: 250px;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s;
  color: white;
}
.modelButton:hover {
  background-color: white;
  color: black;
}

/* INTERIOR */

.interiorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
/* .interiorContainer h2 {
  z-index: 1;
  font-size: 40px;
  letter-spacing: 2px;
  position: absolute;
  color: black;
   margin-bottom: 500px;
   top:auto;
} */
.interiorTitle {
  z-index: 1;
  font-size: 40px;
  letter-spacing: 2px;
  position: absolute;
  color: black;
  /* margin-bottom: 500px; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}
.maskInterior {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    180.4deg,
    rgba(26, 33, 64, 1) 10.9%,
    rgba(81, 84, 115, 1) 87.1%
  );
  filter: opacity(10%);
}
.coresContainer {
  position: absolute;
  justify-self: flex-start;
  align-self: flex-start;
  color: white;
  font-weight: bold;
}
.cores {
  background-image: linear-gradient(
    0.1deg,
    rgba(21, 13, 15, 1) 10.2%,
    rgba(21, 13, 15, 0.7) 99.8%,
    rgba(21, 13, 15, 0.29) 121.2%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
  height: 400px;
}
.colorOptions {
  margin-top: 50px;
}
.colorOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.colorGrayOption {
  background-color: gray;

  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
}
.colorBlackOption {
  background-color: black;

  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
}
.colorWhiteOption {
  border: none;
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.colorBegeOption {
  border: none;
  background-image: url(../../data/evaTechColors/bege.PNG);
  background-size: contain;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.colorCarameloOption {
  border: none;
  background-image: url(../../data/evaTechColors/caramelo.PNG);
  background-size: contain;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}
.colorTerracottaOption {
  border: none;
  background-image: url(../../data/evaTechColors/terracotta.PNG);
  background-size: contain;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.colorBlueOption {
  background-color: blue;

  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
}
.colorWhiteEstofadoOption {
  background-color: white;

  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
}
.colorRedOption {
  background-color: red;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
}

.terracottaInterior {
  background-color: #cb6843;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
}
.coresRightContainer {
  position: absolute;
  justify-self: flex-end;
  align-self: flex-end;
  color: white;
  font-weight: bold;
}

.coresRight {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 200px;
  height: 400px;
  background-image: linear-gradient(
    0.1deg,
    rgba(21, 13, 15, 1) 10.2%,
    rgba(21, 13, 15, 0.7) 99.8%,
    rgba(21, 13, 15, 0.29) 121.2%
  );
}
.coresCenterContainer {
  position: absolute;
  justify-self: flex-end;
  align-self: center;
  color: white;
  font-weight: bold;
}
.coresCenter {
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 200px;
  height: 400px;
  background-image: linear-gradient(
    0.1deg,
    rgba(21, 13, 15, 1) 10.2%,
    rgba(21, 13, 15, 0.7) 99.8%,
    rgba(21, 13, 15, 0.29) 121.2%
  );
}

/* CAROUSEL */

.imgSectionImg {
  height: 300px;
  width: 500px;
}

.carouselModel {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 70%;
  height: 80vh;
}
.carouselModel img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 80vh;
}
.arrowRight {
  justify-self: flex-end;
}
.arrowsModel {
  padding: 20px;
  color: black;
  position: absolute;
  z-index: 1;
  display: flex;
  width: 70%;
  justify-content: space-between;
}

/* GRID IMAGENS E TEXTO */
.flexContainer {
  padding: 20px;
  background-color: black;
  color: white;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

/* SEÇÃO MOTOR */

.mask {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.5);
}

/* ULTIMA SEÇÃO */
.lastDiv p {
  font-size: 30px;
  text-align: center;
}
.lastSection {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.textSection {
  height: 300px;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.lastImg {
  width: 600px;
  height: 500px;
}
.lastDiv {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
/* NEST HUB */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .contentImg {
    width: 100%;
    margin-top: 80px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentImg img {
    width: 80vw;
    height: 50vh;
    margin-bottom: 250px;
    align-self: center;
    justify-self: center;
  }
  .modelButton {
    margin-right: 5px;
    margin-top: 20px;
    width: 50%;
    justify-self: center;
  }
}
@media screen and (max-width: 1024px) {
  /* TOPO PÁGINA */
  .contentModel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detailsContainer h2 {
    font-size: 20px;
  }
  .containerModel {
    box-sizing: border-box;
  }

  .contentImg {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentImg img {
    width: 100vw;
    height: fit-content;
    margin-bottom: 100px;
    align-self: center;
    justify-self: center;
  }

  .detailsContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }
  .modelButton {
    margin-right: 5px;
    margin-top: 20px;
    width: 100%;
    justify-self: center;
  }
  .detailsContent:last-child {
    width: 100%;
  }
  .detailsContent {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    width: fit-content;
  }
  .detailsContent:last-child {
    margin-left: 10px;
  }

  .navLinkStyle {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  /* INTERIOR */
  .interiorTitle {
    margin-top: 100px;
  }
  .interiorContainer h2 {
    margin-top: 0px;
    margin-bottom: 500px;
  }
  .colorOptions {
    margin-top: 0px;
  }

  .imgSection img {
    width: 50vw;
    height: 20vh;
  }
  .cores {
    text-align: center;
    width: 110px;
    height: 200px;
  }
  .coresContainer {
    position: absolute;
    justify-self: flex-start;
    align-self: flex-start;
    color: white;
    font-weight: bold;
    width: 100px;
  }
  .cores p {
    font-size: 12px;
  }
  .coresRight {
    text-align: center;
    width: 110px;
    height: 200px;
  }
  .coresCenter {
    text-align: center;
    width: 110px;
    height: 200px;
  }
  .interiorContainer h2 {
    text-align: center;
  }
  .coresCenter p {
    font-size: 12px;
  }
  .coresRight p {
    font-size: 12px;
  }
  .colorGrayOption {
    width: 45px;
    height: 45px;
  }
  .colorBlackOption {
    width: 45px;
    height: 45px;
  }
  .colorWhiteOption {
    width: 45px;
    height: 45px;
  }
  .colorBegeOption {
    width: 45px;
    height: 45px;
  }
  .colorBlueOption {
    width: 45px;
    height: 45px;
  }
  .colorCarameloOption {
    width: 45px;
    height: 45px;
  }
  .colorTerracottaOption {
    width: 45px;
    height: 45px;
  }
  .colorWhiteEstofadoOption {
    width: 45px;
    height: 45px;
  }
  /* CAROUSEL */
  .carouselModel {
    width: 100vw;
    height: fit-content;
  }
  .carouselImgModel img {
    width: 100vw;
    height: fit-content;
  }
  .arrowsModel {
    padding: 20px;
    color: black;
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  /* GRID IMAGENS E TEXTO */
  .flexContainer {
    padding: 20px;
    background-color: black;
    color: white;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      ". ."
      ". ."
      ". .";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  .textSection {
    height: auto;
    font-size: 12px;
    text-align: center;
    width: auto;
  }
  .imgSection{
    height: auto;
    width: auto;
  }
  /* ULTIMA SEÇÃO */
  .lastSection {
    width: 100%;
    height: 100vh;
  }
  .lastDiv {
    margin-left: 0px;
  }
  .lastImg {
    height: 300px;
    width: 300px;
  }
  .lastSection {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 320px) and (max-width: 700px) {
  /* GRID IMAGENS E TEXTO */
  .imgSectionImg {
    width: fit-content;
    height: fit-content;
  }
  /* INTERIOR */
  .colorOptions {
    margin-top: 0px;
  }
  /* .interiorContainer h2 {
    margin-top: 100px;
  } */
  .coresRight {
    margin: 10px;
    text-align: center;
    width: 100px;
    height: 200px;
  }
  .cores p {
    font-size: 10px;
  }
  .coresRight p {
    font-size: 10px;
  }
  .coresCenter p {
    font-size: 10px;
  }
  .coresCenter {
    margin: 10px;
    text-align: center;
    width: 100px;
    height: 200px;
  }
  .cores {
    margin: 10px;
    text-align: center;
    width: 100px;
    height: 200px;
  }
  .colorGrayOption {
    width: 30px;
    height: 30px;
  }
  .colorBlackOption {
    width: 30px;
    height: 30px;
  }
  .colorWhiteOption {
    width: 30px;
    height: 30px;
  }
  .colorBegeOption {
    width: 30px;
    height: 30px;
  }
  .colorBlueOption {
    width: 30px;
    height: 30px;
  }
  .colorCarameloOption {
    width: 30px;
    height: 30px;
  }
  .colorTerracottaOption {
    width: 30px;
    height: 30px;
  }
  .colorWhiteEstofadoOption {
    width: 30px;
    height: 30px;
  }

  /* TOPO DA PAGINA  */
  .contentImg {
    width: 100vw;
    height: fit-content;
    margin-top: 130px;
  }
  .interiorTitle{
    margin-top: 50px;
  }
  .containerModel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contentModel h1 {
    top: 20%;
  }
  /* .detailsContainer{
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   display: flex;
   position: absolute;
   margin-bottom: 200px;
  } */
}

/* NEST HUB */
@media screen and (min-width: 1024px) and (max-height: 600px) {
  
  /* .interiorContainer h2 {
    margin-bottom: 500px;
    margin-top: 0;
  } */
  .maskInterior {
    height: 600px;
  }
  .lastDiv p {
    margin-top: 100px;
  }
  .mask {
    height: 480px;
    justify-self: flex-start;
  }
}
@media screen and (min-width: 1520px) and (max-height: 1920px) {
  .interiorContainer h2 {
    margin-bottom: 700px;
    margin-top: 0;
  }
}

/* IPAD PRO */
@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .interiorTitle {
    margin-top: 300px;
  }
}