.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  opacity: 0.5;
  left: 0;
  bottom: 0;
  height: 50px;
  align-items: center;
}
.footer ul {
  display: flex;
  list-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
.footer ul li {
  margin-left: 15px;
}
@media screen and (max-width: 992px) {
     .footer{
       height: 100px;
   
    } 
    .footer ul{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer ul li {
        margin-left: 0px;
      }
}