body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:-webkit-autofill {
  -webkit-box-shadow: (0, 0, 0, 0.1) 0 0 0 30px #ffffff inset;
  box-shadow: inset (0, 0, 0, 0.1) 0 0 0 30px #ffffff inset;
}
